/** @define Teaser */

.Teaser-wrapImage {
  position: relative;
}

.Teaser-image {
  display: block;
}

.Teaser-content {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (--viewport-sm) {
  .Teaser-content {
    padding-right: 0;
    padding-left: 0;
  }
}

.Teaser-title {
  margin-bottom: .5em;
  font-family: var(--font-second);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-brand);
}
