{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["inline-react-svg", {
      "svgo": {
        "plugins": [
          {
            "cleanupIDs": false
          }
        ]
      }
    }],
    [ "transform-define", "./env-config.js" ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ]
    }
  }
}
