html {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  min-height: 100vh;
}

@media (--md-viewport) {
  html {
    font-size: 18px;
  }
}

@media (--lg-viewport) {
  html {
    font-size: 20px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
  background:
    linear-gradient(to bottom, var(--body-gradient-color) 0%, var(--body-gradient-color) 1%, transparent 1%),
    linear-gradient(to right, var(--body-gradient-color) 0%, var(--body-gradient-color) 1%, transparent 1%),
    linear-gradient(135deg,  transparent 50%, var(--body-gradient-color) 50%, var(--body-gradient-color) 51%, transparent 51%),
    linear-gradient(45deg,  transparent 50%, var(--body-gradient-color) 50%, var(--body-gradient-color) 51%, transparent 51%);
  background-size: var(--body-gradient-size) var(--body-gradient-size);
  background-color: var(--body-background-color);
  background-position: center;
}

/**:focus {
  outline: 0;
}*/

textarea:focus,
input:focus {
  outline: 1px solid var(--color-blue);
}

img {
  max-width: 100%;
  height: auto;
}
