/*
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

/*
 * Breakpoints
 */

@custom-media --sm-viewport (min-width: 321px);
@custom-media --md-viewport (min-width: 541px);
@custom-media --lg-viewport (min-width: 769px);

@custom-media --sm-viewport-max (max-width: 320px);
@custom-media --md-viewport-max (max-width: 540px);
@custom-media --lg-viewport-max (max-width: 768px);

@custom-media --sm-viewport-only (min-width: 321px) and (max-width: 540px);
@custom-media --md-viewport-only (min-width: 541px) and (max-width: 768px);
@custom-media --lg-viewport-only (min-width: 769px) and (max-width: 1024px);

:root {

  /*
   * Colors
   */
  --color-black:         #000;
  --color-gray-darkest:  #262E33;
    --color-gray-darker: #444;
  --color-gray-dark:     #7C7C7C;
  --color-gray:          #888;
    --color-gray-lighter:  #ccc;
  --color-gray-lightest: #f2f2f2;
  --color-white:         #fff;

  --color-blue:          #52a3d1;
  --color-blue-light:    #72BDE9;
  --color-green:         #5EC261;
  --color-red:           #F76262;
  --color-orange:        #f79a46;

  /*
   * Fonts
   */
  --font-size: 1rem;
  --font-family: 'Open Sans', sans-serif;
  --font-weight: 300;
  --line-height: 1.35;

  /*
   * Spacing
   */
  --space-small-px:  10px;
  --space-medium-px: 20px;
  --space-large-px:  30px;

  /*
   * Z-Index Scale
   */
  --z-index-0:    -1;
  --z-index-1:   100;
  --z-index-2:   200;
  --z-index-3:   300;
  --z-index-4:   400;
  --z-index-5:   500;
  --z-index-6:   600;
  --z-index-7:   700;
  --z-index-8:   800;
  --z-index-9:   900;
  --z-index-10: 1000;

  /*
   * Custom
   */

  --max-width: 30rem;

}
