:root {

  /**
   * base
   */

  --text-color: var(--color-gray-darkest);
  --link-color: var(--color-brandred);
  --link-color-hover: var(--text-color);
  --headline-color: var(--color-brandred);

  --body-background-color: var(--color-gray-lighter);
  --body-gradient-size: 6vw;
  --body-gradient-color: var(--color-gray-light);

  /**
   * components-arrange
   */

  --Arrange-gutter-size: var(--space-small-px);


  /**
   * components-grid
   */

  --Grid-gutter-size: var(--space-medium-px);


  /**
   * Z-Index Applications
   */


  /**
   * Fonts
   */


  /**
   * Layout
   */


  /**
   * Components
   */

  --Header-background: var(--color-gray-darker);
  --Footer-background: var(--color-gray-darker);
  --SocialIcon-inset-color: var(--color-gray-darkest);
}
