:root {
  /**
   * base
   */

  --text-color: var(--cb0);
  --link-color: var(--color-brand);
  --link-color-hover: var(--text-color);

  --body-background-color: var(--cb5);
  --body-gradient-size: 5vw;
  --body-gradient-color: var(--cb4);

  /**
   * components-arrange
   */

  --Arrange-gutter-size: var(--space-small-px);


  /**
   * components-grid
   */

  --Grid-gutter-size: var(--space-medium-px);


  /**
   * Z-Index Applications
   */


  /**
   * Fonts
   */


  /**
   * Layout
   */


  /**
   * Components
   */

  --Header-background: var(--cb1);
  --Header-color: #fff;
  --Footer-background: var(--cb1);
  --Footer-color: var(--cb4);
  --Footer-border-color: var(--color-brand);
  --SocialIcon-inset-color: #000;
}
