:root {
  --list-dot-size: .35em;
}

h1,
h2,
h3,
h4,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-sanchez);
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  color: var(--text-color);

  &::first-letter {
    letter-spacing: -.06em;
    color: var(--color-brand);
  }
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.u-richText {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: .75rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  ul,
  ol,
  dd,
  p,
  figure,
  pre,
  table,
  fieldset,
  hr,
  .cp_embed_wrapper,
  div.highlighter-rouge {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  /*
   * [1] use text-shadow to generate optical margin to underline
   */

  a {
    position: relative;
    z-index: 0;
    color: var(--link-color);
    text-decoration: none;
    text-shadow: -.05em .05em #fff, .05em .05em #fff; /* 1 */
    transition: color var(--time-transition);

    &:hover,
    &:focus {
      color: var(--link-color-hover);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      z-index: -1;
      width: 100%;
      border-bottom: 1px solid;
    }
  }

  ul,
  ol {
    padding-left: 0;
    list-style: none;
  }

  ol {
    counter-reset: ol;
  }

  li {
    position: relative;
    padding-left: 1em;
  }

  ul > li::before {
    content: '';
    position: absolute;
    top: calc(1em * 1.4 / 2);
    left: 0;
    width: var(--list-dot-size);
    height: calc(var(--list-dot-size) * .25);
    margin-top: calc(var(--list-dot-size) * -.5 * .25);
    background-color: var(--color-brand);
  }

  ol > li {
    counter-increment: ol;

    &::before {
      content: counter(ol);
      position: absolute;
      top: 0;
      left: 0;
      font-family: var(--font-sanchez);
      font-size: .8em;
      font-weight: 200;
      line-height: calc(1.4em / .8);
      color: var(--color-brand);
    }
  }
}

::selection {
  color: #fff !important;
  background: var(--color-brand) !important;
}
