h1,
h2,
h3,
h4,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Sanchez', serif;
  font-style: normal;
  font-weight: 400;
  color:  var(--headline-color);
  line-height: 1.1;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.u-richText {
  h1,
  h2,
  h3,
  h4 {
    &:not(:last-child) {
      margin-bottom: .75rem;
    }
  }

  ul,
  ol,
  dd,
  p,
  figure,
  pre,
  table,
  fieldset,
  hr {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  a {
    position: relative;
    color: var(--link-color);
    text-decoration: none;
    text-shadow: -2px 1px #fff, 2px 1px #fff;
    z-index: 0;
    transition: color var(--time-transition);

    &:hover,
    &:focus {
      color: var(--link-color-hover);
    }

    &::after {
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      z-index: -1;
      border-bottom: 1px solid;
      transition: width var(--time-transition);
      content: '';
    }
  }
}
