/** @define Footer */

.Footer {
  flex-shrink: 0;
  height: 3.5rem;
  color: #fff;
  background-color: var(--Footer-background, #000);
  border-top: solid .25rem var(--color-brandred);

  @media (--sm-viewport) {
    height: 1.5rem;
  }
}

.Footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Footer-socialIcons {
  flex-shrink: 0;
  display: flex;
  font-size: 2rem;
  line-height: 1;

  @media (--sm-viewport) {
    display: none;
  }
}

.Footer-wrapSocialIcon:not(:last-child) {
  margin-right: .5em;
}
