/** @define Post */

.Post {
  margin-bottom: 1rem;
}

.Post-wrapImage {
  position: relative;
  height: 0;
  padding-top: 40%;
}

.Post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center 60%;
  background-size: cover;
}

.Post-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
  font-family: 'Sanchez', serif;
  font-size: .8em;
  font-weight: 200;
}

.Post-tagComma:last-child {
  display: none;
}

/* postcss-bem-linter: ignore */

a.Post-link::after {
  content: none;
}

.Post-content {
  padding: 3.5vw 4vw;
}
