code {
  display: inline-flex;
  align-items: center;
  padding-right: .5em;
  padding-left: .5em;
  font-size: .9em;
  line-height: 1.5;
  color: var(--color-black);
  vertical-align: text-bottom;
  background-color: var(--color-white);
}

.hljs {
  position: relative;
  display: block;
  padding: .5em 1em;
  overflow-x: auto;
  line-height: 1.8;
  color: var(--color-white);
  background: var(--color-black);
}

.hljs.css::after,
.hljs.ruby::after,
.hljs.html::after,
.hljs.php::after {
  position: absolute;
  top: .15rem;
  right: .5rem;
  color: var(--color-disabled-on-black);
}

.hljs.css::after {
  content: 'css';
}

.hljs.ruby::after {
  content: 'ruby';
}

.hljs.html::after {
  content: 'html';
}

.hljs.php::after {
  content: 'php';
}


/* Atelier-Cave Comment */
.hljs-comment,
.hljs-quote {
  color: var(--color-black-lighten);
}

.hljs-attribute,
.hljs-regexp,
.hljs-link,
.hljs-tag,
.hljs-selector-id {
  color: var(--color-white);
}

.hljs-addition,
.hljs-attr,
.hljs-selector-class,
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: var(--color-orange);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: var(--color-green);
}

.hljs-title,
.hljs-section,
.hljs-variable,
.hljs-template-variable {
  color: var(--color-blue);
}

.hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  color: var(--color-red);
}

.hljs-deletion,
.hljs-addition {
  display: inline-block;
  width: 100%;
  color: #19171c;
}

.hljs-deletion {
  background-color: var(--color-purple);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
