.u-maxWidth {
  box-sizing: content-box;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: 2vw;
  padding-left: 2vw;
}

@media print {
  .u-maxWidth {
    max-width: none;
  }
}

.u-whiteBox {
  background-color: #fff;
  border-bottom: 2px solid var(--cb2);
}

@media print {
  .u-whiteBox {
    background-color: transparent;
    border-bottom: 0;
  }
}

.u-boxPadding {
  padding: 1.3rem;
}

@media (--sm-viewport) {
  .u-boxPadding {
    padding: 3.5vw 4vw;
  }
}

@media (--lg-viewport) {
  .u-boxPadding {
    padding: 1.3125rem 1.5rem;
  }
}
