.u-maxWidth {
  box-sizing: content-box;
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}

@media print {
  .u-maxWidth {
    max-width: none;
  }
}

.u-boxPadding {
  padding: var(--u-box-padding);
}

.u-boxPadding pre,
.u-boxPadding .cp_embed_wrapper {
  margin-right: calc(var(--u-box-padding-h) * -1);
  margin-left: calc(var(--u-box-padding-h) * -1);
}

@media (--viewport-md) {
  .u-boxPadding pre,
  .u-boxPadding .cp_embed_wrapper {
    margin-right: 0;
    margin-left: 0;
  }
}

.u-widthPadding {
  padding-right: 2vw;
  padding-left: 2vw;
}
