<link rel="apple-touch-icon" sizes="180x180" href="/build/favicons/apple-touch-icon.png?v=m2d7xOWWzl">
<link rel="icon" type="image/png" href="/build/favicons/favicon-32x32.png?v=m2d7xOWWzl" sizes="32x32">
<link rel="icon" type="image/png" href="/build/favicons/favicon-16x16.png?v=m2d7xOWWzl" sizes="16x16">
<link rel="manifest" href="/build/favicons/manifest.json?v=m2d7xOWWzl">
<link rel="shortcut icon" href="/build/favicons/favicon.ico?v=m2d7xOWWzl">
<meta name="msapplication-TileColor" content="#cccccc">
<meta name="msapplication-TileImage" content="/build/favicons/mstile-144x144.png?v=m2d7xOWWzl">
<meta name="msapplication-config" content="/build/favicons/browserconfig.xml?v=m2d7xOWWzl">
