<style>
  {% for tag in site.post_tags %}
    {% assign tag = tag | slugify | strip %}
      html[data-tag*='{{tag}}'] .Post[data-tag*='{{tag}}'] { display: block; }
  {% endfor %}
</style>

<form class="Filter js-Filter u-whiteBox u-boxPadding">
  <div class="Filter-items">
    <div class="Filter-item Filter-reset">
      all
    </div>
    {% for tag in site.post_tags %}
      {% assign tag = tag | slugify | strip %}
      <input class="Filter-input Filter-input--radio Filter-tag Filter-tag--{{ tag }}" type="radio" name="tag" id="tag-{{ tag }}" value="{{ tag }}" hidden>
      <label class="Filter-item Filter-label" for="tag-{{ tag }}">
        {{ tag }}
      </label>
    {% endfor %}
  </div>
</form>
