<header class="Header">
  <div class="Header-content u-maxWidth">

    <a class="Header-logo" href="/">
      {% include Svg.html name='logo' %}
    </a>

    <div class="Header-wrapNav">
      {% include Nav.html list=site.data.navigation type='header' %}
    </div>

    <div class="Header-socialIcons">
      <div class="Header-wrapSocialIcon">
        {% include SocialIcon.html name="Twitter" href="https://twitter.com/schoenwaldnils" %}
      </div>
      <div class="Header-wrapSocialIcon">
        {% include SocialIcon.html name="GitHub" href="https://github.com/schoenwaldnils" %}
      </div>
    </div>

  </div>
</header>
