/** @define Nav */

:root {
  --Nav-link-padding-h: 1em;
  --Nav-link-padding-v: .5em;
}

.Nav {
  font-family: var(--font-sanchez);
  text-transform: lowercase;
}

.Nav-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

@media (--sm-viewport) {
  .Nav-list {
    margin-right: -var(--Nav-link-padding-h);
    margin-left: -var(--Nav-link-padding-h);
  }
}

.Nav-link {
  position: relative;
  display: block;
  padding: var(--Nav-link-padding-v) var(--Nav-link-padding-h);

  &::after {
    content: '';
    position: absolute;
    right: var(--Nav-link-padding-h);
    bottom: var(--Nav-link-padding-v);
    left: var(--Nav-link-padding-h);
    border-bottom: 2px solid var(--color-brand);
    opacity: 0;
    transform: translateY(-.15em);
    transition-duration: var(--time-transition);
    transition-property: transform opacity;
  }

  .Nav-item.is-current &::after,
  &:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
}
