*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-color: var(--Header-background);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--body-background-color);
  background-position: center;
  background-size: var(--body-gradient-size) var(--body-gradient-size);
}

@media print {
  html,
  body {
    background: none;
  }
}

/*
*:focus {
  outline: 0;
}
*/

textarea:focus,
input:focus {
  outline: 1px solid var(--color-blue);
}

img {
  max-width: 100%;
  height: auto;
}

*[contentEditable]:hover,
*[contentEditable]:focus {
  outline: 1px solid var(--color-blue);
}
