/*
 * Shame CSS: for the stuff that didn't fit anywhere else.
 */

@media print {
  .cp_embed_wrapper > iframe {
    display: none;
  }

  .cp_embed_wrapper::before {
    content: 'Embeded Codepen';
  }
}

.logo-icon {
  transform-origin: 80px 50%;
  transition: transform var(--time-animation);
}

.Header-logo:hover .logo-icon {
  transform: rotateY(180deg);
}

#drift-widget {
  right: 0 !important;
  bottom: 0 !important;
}
