/*
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

/*
 * Breakpoints
 */

@custom-media --sm-viewport (min-width: 481px);
@custom-media --md-viewport (min-width: 621px);
@custom-media --lg-viewport (min-width: 769px);
@custom-media --sm-viewport-max (max-width: 480px);
@custom-media --md-viewport-max (max-width: 620px);
@custom-media --lg-viewport-max (max-width: 768px);
@custom-media --sm-viewport-only (min-width: 481px) and (max-width: 620px);
@custom-media --md-viewport-only (min-width: 621px) and (max-width: 768px);
@custom-media --lg-viewport-only (min-width: 769px) and (max-width: 1024px);

:root {
  /*
   * Colors
   */

  --cb0: #2d2d2d;
  --cb1: #444;
  --cb2: #515151;
  --cb3: #7c7c7c;
  --cb4: #bbb;
  --cb5: #ccc;
  --cb6: #e6e6e6;
  --cb7: #f2f2f2;
  --cb8: #f2777a;
  --cb9: #f99157;
  --cbA: #fc6;
  --cbB: #9c9;
  --cbC: #6cc;
  --cbD: #69c;
  --cbE: #c9c;
  --cbF: #d27b53;

  --cbA-darken: #e0b320;


  --color-brand: #ba3e48;
  --color-error: #da2000;
  --color-warning: #edba00;

  --color-twitter: #55acee;

  --color-red: var(--cb8);
  --color-orange: var(--cb9);
  --color-wellow: var(--cbA);
  --color-green: var(--cbB);
  --color-cyan: var(--cbC);
  --color-blue: var(--cbD);
  --color-purple: var(--cbE);
  --color-brown: var(--cbF);

  /*
   * Fonts
   */
  --font-size: 1rem;
  --font-family: 'Open Sans', sans-serif;
  --font-weight: 300;
  --line-height: 1.4;

  --text-color: var(--cb0);
  --link-color: var(--color-brand);
  --link-color-hover: var(--text-color);

  /*
   * Fonts
   */

  --font-rokkitt: 'Rokkitt', monospace, serif;

  /*
   * Spacing
   */

  --space-small-px: 10px;
  --space-medium-px: 20px;
  --space-large-px: 30px;

  /*
   * Custom
   */

  --body-background-color: var(--cb5);
  --body-gradient-size: 5vw;
  --body-gradient-color: var(--cb4);

  --max-width: 34rem;

  --time-animation: 300ms;
  --time-transition: 150ms;


  /**
   * Components
   */

  --Grid-gutter-size: var(--space-medium-px);
  --Arrange-gutter-size: var(--space-small-px);
  --Header-background: var(--cb1);
  --Header-color: #fff;
  --Footer-background: var(--Header-background);
  --Footer-color: var(--cb4);
  --Footer-border-color: var(--color-brand);
  --SocialIcon-inset-color: #000;
  --SocialIcon-background: var(--Header-background);

}
