/*
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

:root {
  /*
   * Colors
   */

  --color-black: #323537;
  --color-black-lighten: #545a5e;

  --color-white: #fdfcff;
  --color-white-darken: #dee3e5;

  --color-disabled-on-white: #686868;
  --color-disabled-on-black: #9d9d9d;

  --color-brand: #ba3e48;

  --color-error: #c61010;
  --color-success: #3eba43;

  --color-twitter: #55acee;

  --color-interactive-2plus: #95c6ed;
  --color-interactive-1plus: #66a2d4;
  --color-interactive: #3e83ba;
  --color-interactive-1minus: #2d6da1;
  --color-interactive-2minus: #1f5887;

  --color-red: #ff2c6d;
  --color-orange: #ffb86c;
  --color-green: #19f9d8;
  --color-blue: #45a9f9;
  --color-purple: #b084eb;
  --color-pink: #ff9ac1;

  /*
   * Fonts
   */
  --font-size: 1rem;
  --font-family: 'Open Sans', sans-serif;
  --font-weight: 300;
  --line-height: 1.5;

  --text-color: var(--color-black);
  --link-color: var(--color-interactive);
  --link-color-hover: var(--color-brand);

  /*
   * Fonts
   */

  --font-second: 'Karla', sans-serif;

  /*
   * Spacing
   */

  --space-small-px: 8px;
  --space-medium-px: 16px;
  --space-large-px: 32px;

  /*
   * Custom
   */

  --body-background-color: var(--color-white);

  --max-width: 42rem;

  --time-animation: 300ms;
  --time-transition: 150ms;

  --u-box-padding-v: 1rem;
  --u-box-padding-h: var(--u-box-padding-v);
  --u-box-padding: var(--u-box-padding-v) var(--u-box-padding-h);

  /**
   * Components
   */

  --Grid-gutter-size: var(--space-medium-px);
  --Arrange-gutter-size: var(--space-small-px);

  --Header-background: var(--color-black);
  --Header-color: var(--color-white);
  --Footer-background: var(--Header-background);
  --Footer-color: var(--black-lighten);
  --Footer-border-color: var(--color-brand);
  --SocialIcon-inset-color: #000;
}
