/*
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

:root {
  /*
   * Colors
   */

  --cb0: #2d2d2d;
  --cb1: #424242;
  --cb2: #515151;
  --cb3: #7c7c7c;
  --cb4: #bbb;
  --cb5: #ccc;
  --cb6: #e0e0e0;
  --cb7: #f2f2f2;
  --cb8: #f2777a;
  --cb9: #f99157;
  --cbA: #fc6;
  --cbB: #9c9;
  --cbC: #6cc;
  --cbD: #69c;
  --cbE: #c9c;
  --cbF: #d27b53;

  --cbA-darken: #e0b320;


  --color-brand: #ba3e48;
  --color-error: #da2000;
  --color-warning: #edba00;

  --color-twitter: #55acee;

  --color-red: var(--cb8);
  --color-orange: var(--cb9);
  --color-wellow: var(--cbA);
  --color-green: var(--cbB);
  --color-cyan: var(--cbC);
  --color-blue: var(--cbD);
  --color-purple: var(--cbE);
  --color-brown: var(--cbF);

  /*
   * Fonts
   */
  --font-size: 1rem;
  --font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';

  --font-weight: 300;
  --line-height: 1.5;

  --text-color: var(--cb0);
  --link-color: var(--color-brand);
  --link-color-hover: var(--text-color);

  /*
   * Fonts
   */

  /*
   * Spacing
   */

  --space-small-px: 8px;
  --space-medium-px: 16px;
  --space-large-px: 32px;

  /*
   * Custom
   */

  --body-background-color: var(--cb6);

  --max-width: 42rem;

  --time-animation: 300ms;
  --time-transition: 150ms;

  --u-box-padding-v: 1.3rem;
  --u-box-padding-h: var(--u-box-padding-v);
  --u-box-padding: var(--u-box-padding-v) var(--u-box-padding-h);

  /**
   * Components
   */

  --Grid-gutter-size: var(--space-medium-px);
  --Arrange-gutter-size: var(--space-small-px);
  --Header-background: var(--cb1);
  --Header-color: #fff;
  --Footer-background: var(--Header-background);
  --Footer-color: var(--cb4);
  --Footer-border-color: var(--color-brand);
  --SocialIcon-inset-color: #000;
}
