/** @define Footer */

.Footer {
  flex-shrink: 0;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--Footer-background, #000);
  border-top: solid .25rem var(--Footer-border-color, #f00);
}

@media print {
  .Footer {
    display: none;
  }
}

.Footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Footer-socialIcons {
  flex-shrink: 0;
  display: flex;
  margin-bottom: .5rem;
  font-size: 2rem;
  line-height: 1;

  @media (--sm-viewport) {
    display: none;
  }
}

.Footer-wrapSocialIcon:not(:last-child) {
  margin-right: .5em;
}

.Footer-copy {
  font-family: var(--font-rokkitt);
  font-size: .6rem;
  letter-spacing: .2em;
  color: var(--Footer-color);
}
