/** @define Footer */

.Footer {
  --background-color: var(--Footer-background, #000);

  flex-shrink: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  background-color: var(--Footer-background, #000);
  border-bottom: solid 2px var(--Footer-border-color, #f00);
}

@media print {
  .Footer {
    display: none;
  }
}

.Footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Footer-socialIcons {
  flex-shrink: 0;
  display: flex;
  margin-bottom: .75rem;
  font-size: 2rem;
  line-height: 1;
}

@media (--sm-viewport) {
  .Footer-socialIcons {
    display: none;
  }
}

.Footer-wrapSocialIcon {
  margin-right: .25em;
  margin-left: .25em;
}

.Footer-nav {
  display: flex;
  margin-bottom: .5rem;
}

.Footer-navItem {
  padding-right: 1em;
  padding-left: 1em;
}

.Footer-text {
  font-size: .8rem;
  font-variant-caps: all-small-caps;
  letter-spacing: .2em;
  color: var(--Footer-color);
}
