/** @define Header */

.Header {
  flex-shrink: 0;
  height: 4rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--Header-background, #000);
}

.Header-content {
  display: flex;
  align-items: center;
  height: 100%;
}
