/** @define Filter */

.Filter {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Filter-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -.25rem;
}

.Filter-item {
  display: block;
  margin-right: .25rem;
  margin-bottom: .25rem;
  padding: .25em .5em;
  font-family: var(--font-second);
  font-size: .8em;
  font-weight: 200;
  cursor: pointer;
  background-color: var(--cb6);
}

.Filter-item.is-current {
  color: #fff;
  background-color: var(--color-brand, deeppink);
}
