/** @define Post */

.Post-wrapImage {
  position: relative;
  margin-bottom: 2rem;
  background-color: #888;
}

.Post-image {
  display: block;
  mix-blend-mode: multiply;
  height: 80vh;
  object-fit: cover;
}

@media (--viewport-sm) {
  .Post-image {
    height: 28vw;
  }
}

.Post-meta {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Post-title {
  max-width: 90vw;
  font-family: var(--font-second);
  font-size: 9vw;
  font-weight: bold;
  color: var(--color-white);
  text-align: center;
}

@media (--viewport-sm) {
  .Post-title {
    max-width: 50vw;
    font-size: 5vw;
  }
}

.Post-hr {
  color: var(--color-white);
  background-color: var(--color-black);
}

.Post-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
}

.Post-tagLink {
  display: block;
}

.Post-tagLink + .Post-tagLink {
  margin-left: .75em;
}

.Post-tag {
  padding: .5em .75em;
  color: var(--color-white);
  background-color: var(--color-interactive);
}

.Post-tag:hover {
  background-color: var(--color-interactive-1plus);
}

.Post-tag:active {
  background-color: var(--color-interactive-1minus);
}
