/** @define Post */

.Post {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

@media print {
  .Post {
    page-break-inside: avoid;
  }

  .Post-meta::after {
    display: block !important;
  }
}

.Post-wrapImage {
  position: relative;
  height: 0;
  padding-top: 40%;
}

.Post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center 60%;
  background-size: cover;
}

.Post-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
  font-family: var(--font-sanchez);
  font-size: .8em;
  font-weight: 200;
}

@media print {
  .Post-meta {
    align-items: flex-end;
  }
}


@media print {
  .Post-tags {
    display: none;
  }
}

.Post-tag,
.Post-tagComma {
  margin-top: -1em;
  padding-top: 1em;
}

@media (--sm-viewport) {
  .Post-tag,
  .Post-tagComma {
    margin-top: 0;
    padding-top: 0;
  }
}

.Post-tagComma:last-child {
  display: none;
}

/* postcss-bem-linter: ignore */

a.Post-link::after {
  content: none;
}
