/** @define Post */

.Post-wrapImage {
  position: relative;
  min-height: 10vmin;
  background-color: #bbb;
}

.Post-image {
  display: block;
  mix-blend-mode: multiply;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.Post--list .Post-image {
  height: 100vw;
}

@media (--viewport-sm) {
  .Post-image {
    height: 28vw;
  }
}

@media (--viewport-lg) {
  .Post--list .Post-image {
    height: 28vw;
  }
}

.Post-meta {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Post-title {
  flex-grow: 1;
  font-family: var(--font-second);
  font-weight: bold;
}

.Post-title--inImage {
  font-size: 9vw;
  color: var(--color-white);
}

@media (--viewport-sm) {
  .Post-title--inImage {
    font-size: 5vw;
  }
}

.Post-content {
  padding-top: 2rem;
}

.Post-hr {
  color: var(--color-white);
  background-color: var(--color-black);
}

.Post-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
}

.Post-tagLink {
  display: block;
}

.Post-tagLink + .Post-tagLink {
  margin-left: .75em;
}

.Post-tag {
  padding: .5em .75em;
  color: var(--color-white);
  background-color: var(--color-interactive);
}

.Post-tag:hover {
  background-color: var(--color-interactive-1plus);
}

.Post-tag:active {
  background-color: var(--color-interactive-1minus);
}
