/** @define SocialIcon */

.SocialIcon {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
}

.SocialIcon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--SocialIcon-inset-color, #000);
  border: 1px solid var(--background-color, --SocialIcon-background);
  border-radius: 50%;
}

.SocialIcon-iconFront,
.SocialIcon-iconBack {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: .4em;
  border-radius: 50%;
  transition: transform var(--time-animation);
  backface-visibility: hidden;
}

.SocialIcon-iconFront {
  background-color: var(--background-color, --SocialIcon-background);
}

.SocialIcon-iconBack {
  color: #fff;
  transform: rotateX(180deg);
}

.SocialIcon--github .SocialIcon-iconFront,
.SocialIcon--github .SocialIcon-iconBack {
  font-size: .6em;
}


.SocialIcon:hover .SocialIcon-iconFront {
  transform: rotateX(180deg);
}

.SocialIcon:hover .SocialIcon-iconBack {
  transform: rotateX(0deg);
}

.SocialIcon--twitter .SocialIcon-iconBack {
  background-color: var(--color-twitter);
}

.SocialIcon--github .SocialIcon-iconBack {
  color: #000;
  background-color: #fff;
}
