<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include Header.html %}
    <section class="Content" role="main">
      <div class="u-maxWidth">
        <div class="Content-box">
          {{ content }}
        </div>
      </div>
    </section>
    {% include Footer.html %}
    <script src="/build/main.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sanchez">
  </body>
</html>
