<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include Header.html %}
    <section class="Content">
      <div class="u-maxWidth">
        <div class="Content-box">
          {{ content }}
        </div>
      </div>
    </section>
    {% include Footer.html %}
    <script src="/build/main.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sanchez">
    <script src="//example.disqus.com/embed.js" data-timestamp="{% current_time %}" ></script>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </body>
</html>
